<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            Error 404 <small>Page not found</small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="<?= site_url()?>">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Page not found</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12 page-404">
                <div class="number">
                    404
                </div>
                <div class="details">
                    <h3>Oops! You're lost.</h3>
                    <p>
                        We can not find the page you're looking for.<br/>
                        <a href="<?= site_url()?>">
                            Return home </a>
                        or try the search bar below.
                    </p>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- BEGIN CONTENT -->
</div>
<!-- END CONTENT -->