<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {menu_title}
            <small>Add / Edit</small>
        </h1>
        <ol class="breadcrumb">
            {breadcrumbs}
            <li>
                <a href="{href}">{text}</a>
            </li>
            {/breadcrumbs}
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header">
                        <!--                        <h3 class="box-title">Quick Example</h3>-->
                        {success_msg}
                        {error_msg}
                            {warning}
                            {id_user_sales}
                            {userpass}
                            {name}
                            {email}
                            {phone}
                        {/error_msg}
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form id="form-{file_app}" name="form-{file_app}" action="" method="post" role="form" enctype="multipart/form-data">
                        <div class="box-body">
                            {post}
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" value="{name}" name="name" id="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" value="{email}" name="email" id="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="userpass" id="userpass" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="confpass" id="confpass" class="form-control" placeholder="Password Confirmation">
                            </div>
                            {/post}
                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn red" onClick="javascript:window.location='{cancel_btn}';">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.box -->

            </div><!--/.col -->
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->